%arvo-400{
	font-family: 'Arvo-Regular', sans-serif;
	font-weight: 400;
}
%arvo-700{
	font-family: 'Arvo-Bold', sans-serif;
	font-weight: 700;
}
%lato-400{
	font-family: 'Lato-Regular', sans-serif;
	font-weight: 400;
}
%lato-700{
	font-family: 'Lato-Bold', sans-serif;
	font-weight: 700;
}

$bg: #090909;
$text: #fff;
$accent: rgb(255, 75, 75);;